.jumbotron {
  margin-top: 10px;
  background-color: #264d73;
  border: 0.1px solid #0d1a26;
  text-transform: uppercase;
}

.jumbotron h2 {
  color: #79d279;
  font-weight: normal;
  letter-spacing: 4px;
}

.jumbotron a {
  font-weight: normal;
  color: #FFF;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.jumbotron a:hover {
  color: #79d279;
  text-decoration: none;
  letter-spacing:
}

.lead {
  font-weight: lighter;
  color: #e6e6e6;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: 15px;
}
body {
  color: #b3b3b3;
}

figcaption {
  font-size: 12px;
  color: #d9d9d9;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-style: italic;
}

hr {
  padding-top:
  padding-bottom:
}

h3 {
  color: #264d73;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.gh-links a {
  font-weight: normal;
  color: #79d279;
  text-transform: lowercase;
  letter-spacing: 2px;
}

.gh-links a:hover {
  color: #264d73;
  text-decoration: none;
  letter-spacing:
}
